datax-admin.tar
# 忽略后端日志文件
/logs/
/logs/*
*/backend/logs/*
./.DS_Store
*.tar
*.tar.gz

# 前端忽略规则
node_modules/
dist/
.env
.env.*
*.log

bin/*
bin/
*/bin/*
tmp/
*/tmp/*

.cursor/
.cursor/*
.cursor/mcp.json
.cursor/mcp.json
